<div{{ attributes }}>
    <div class="site-header sn-container">
        <i class="icon-double-down site-icon"></i>
        <div>
            {{ title_prefix }}
            {% if label %}
                <h2{{ title_attributes }} class="site-title">{{ label }}</h2>
            {% endif %}
            {{ title_suffix }}
        </div>
    </div>
    {% block content %}
        {{ content }}
    {% endblock %}
</div>