{% include directory ~ '/partials/header.html.twig' %}

{# ============== SLIDER PRINCIPAL ================= #}
<div role="banner-home" class="banner-home">
    <div class="banner-home__back">
        <img src="/themes/custom/computacion/assets/banner.jpg"/>
    </div>
    <div class="banner-home__main">
        <div class="sn-container banner-home__content cross-center">
            <div class="sn-item l-50">
                <h1 class="banner-home__title">Computacion</h1>
                <p class="banner-home__slogan">http://aulavirtual.computacioniestpvilcanota.com</p>
                <p class="banner-home__text">En proceso de acreditacion</p>
                <a href="http://aulavirtual.computacioniestpvilcanota.com" target="_blanck" class="banner-home__link">Aula virtual</a>
            </div>
            <div class="sn-item l-50">
                <div class="sn-video">
                    <iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/N52IIYIBKFo" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </div>
    {# {{ page.front_banner }} #}
</div>

{# ==================== Main ==================== #}
<div class="main-container">
    <main class="main">
        <div class="sn-container">
            {{ page.content }}
        </div>
        {# <div>
            {{ page.front_firts }}
        </div> 
        <div class="sn-container">
            {{ page.front_second }}
        </div>
        <div class="sn-container">
            {{ page.front_third }}
        </div> #}
    </main>
</div>
{% include directory ~ '/partials/footer.html.twig' %}