<div class="layout-container">
    {% include directory ~ '/partials/header.html.twig' %}

    {# ============== SLIDER PRINCIPAL ================= #}
    <div class="full">
        {{ page.front_1 }}
    </div>

    {# ==================== Main ==================== #}
    <div class="main-container">
        <main class="main">
            <div class="sn-container">
                {{ page.content }}
            </div>
            <div>
                {{ page.front_2 }}
            </div> 
            <div class="sn-container">
                {{ page.front_3 }}
            </div>
            <div class="sn-container">
                {{ page.front_4 }}
            </div>
        </main>
    </div>
    {% include directory ~ '/partials/footer.html.twig' %}
</div>